@font-face {
  font-family: "Glockenspiel";
  font-weight: 400;
  font-style: normal;
  src: url("https://github.com/Manel-FB/Machine-Analytique-Assets/raw/refs/heads/main/Glockenspiel.woff2") format("woff2");
}
